@import "tailwindcss";


@theme {
  --color-brand-blue: #2196F3;
  --color-brand-cyan: #29D6ED;
  --color-brand-navy: #0D2B4D;
  --color-brand-magenta: #E6008E;
  --color-brand-pink: #FF2FA6;
  --color-brand-beige: #F6DBB8;
  --color-brand-gray: #F1F4FA;
}

/* Hide only Artibot default launcher button */


body button[class*="artibot-launcher"] {
  display: none !important;
}



/* Hide Artibot "Contact us." bubble text */
#artibot-wrapper--3PaNf div[class*="artibot-launcher-bubble"] {
  display: none !important;
  opacity: 0 !important;
  visibility: hidden !important;
  pointer-events: none !important;
}